:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

mat-form-field {
  margin: 3px;
}

mat-dialog-actions {
  float: right;
}

.list-block {
  display: inline-block;
  margin: 3px;
}

mat-selection-list {
  flex-grow: 1;
  border: 2px solid gray;
  border-radius: 5px;
  overflow: auto;
  height: 110px;
  max-height: 110px;
  width: 300px;
}

.icon-text {
  display: flex;
    align-items: center;
}

mat-list-item:hover {
  background-color: rgb(204, 205, 206);
}

mat-list-item {
  cursor: pointer;
}