:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

mat-form-field {
  margin: 5px;
}

mat-dialog-actions {
  float: right;
}

.error {
  padding: 5px;
  color: white;
  background-color: red;
}