<div class="mat-elevation-z8">
  <table mat-table [dataSource]="wetDataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td (click)="copy(row.id)" mat-cell *matCellDef="let row "> {{row.name}} </td>
    </ng-container>
    
    <ng-container matColumnDef="reportIntervalSeconds">
      <th mat-header-cell *matHeaderCellDef> Report Interval (s.) </th>
      <td mat-cell *matCellDef="let row "> {{row.reportIntervalSeconds}} </td>
    </ng-container>

    <ng-container matColumnDef="bottomWetEdge">
      <th mat-header-cell *matHeaderCellDef> Bottom Wet Edge </th>
      <td mat-cell *matCellDef="let row "> {{row.bottomWetEdge}} </td>
    </ng-container>

    <ng-container matColumnDef="upperWetEdge">
      <th mat-header-cell *matHeaderCellDef> Upper Wet Edge </th>
      <td mat-cell *matCellDef="let row "> {{row.upperWetEdge}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell class="actions-header" *matHeaderCellDef ></th>
      <td mat-cell *matCellDef="let row">
        <button
        (click)="remove(row.id)"
        color="warn"
        mat-flat-button
        class="action-btn"
        >
          Delete
        </button>
        <button
        (click)="update(row.id)"
        color="accent"
        mat-flat-button
        class="action-btn"
        >
          Edit
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="wetDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: wetDisplayedColumns"></tr>
  </table>
  <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>